.container{
    max-width: 110rem;
    margin: 0 auto;
}

.header .header__all{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.3rem;
}

.header .header__all .header__left{
    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 1.1rem;
}


.header .header__all .header__left .header__logo{
    max-width: 32.2rem;
    height: 52.462px;
    flex-shrink: 0;
}

.header .header__all .header__left .header__logo img{
    max-width: 100%;
}

.header .header__all .header__logotxt .img{
    max-width: 19.2rem;
    height: 2.2rem;
    flex-shrink: 0;
}

.header .header__all .header__logotxt .img img{
    max-width: 100%;
}

.header .header__all .header__logotxt .img1{
    max-width: 19.1rem;
    height: 0.6rem;
    flex-shrink: 0;
    margin-top: 0.7rem;
}

.header .header__all .header__logotxt .img1 img{
    max-width: 100%;
}

.header .header__all .header__center {
    display: flex;
    column-gap: 1.5rem;
}

.header .header__all .header__center .header__icon{
    width: 4.6rem;
    height: 4.6rem;
    flex-shrink: 0;
}
.header .header__all .header__center .header__icon img{
    width: 100%;
}

.header .header__all .header__txt p{
    color: var(--color-txt);
    font-family: '500';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header .header__all .header__txt .header__alt p{
    color: var(--color-gren);
    font-family: '400';
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

/* .header .header__all .header__right{
    display: flex;
    column-gap: 1rem;
}

.header .header__all .header__right form input{
    height: 4.6rem;
    border-radius: 12px;
    border: 1px solid var(--color-gren, #DEDFE7);
    background: var(--color-white, #FFF);
}

.header .header__all .header__right img{
    width: 46px;
    height: 46px;
    flex-shrink: 0;
} */


.header .header__all .header__right {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.header .header__all .header__right form input {
    flex: 1; /* Take up all available horizontal space */
    max-width: 200px; /* Set a maximum width for the input */
    height: 4.6rem;
    border-radius: 12px;
    border: 1px solid var(--color-gren, #DEDFE7);
    background: var(--color-white, #FFF);
}

.header .header__all .header__right img {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    margin-top: 0.5rem; /* Optional: Adjust spacing for better alignment */
}

.nav .nav__all ul{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-blue);
    height: 5.2rem;
    flex-shrink: 0;
    text-align: center;
    align-items: center;
    padding-left: 15rem;
    padding-right: 15rem;
    
}

.nav .nav__all ul li a{
    color: var(--color-white, #FFF);
    font-family:'400';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.section .section__all .box__one{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    margin-top: 4rem;
}

.section .section__all .box1{
   width: 83.5rem;
    height: 36.0rem;
    flex-shrink: 0;
    position: relative;
    border-radius: 1.2rem;
}

.section .section__all .box1 img{
    border-radius: 1.2rem;

}

.section .section__all .box1 p{
    max-width: 54rem;
    font-family: '900';
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 5.3rem; /* 132.5% */
    background: var(--Linear, linear-gradient(90deg, #0A4ECB 0%, #4788FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 4rem;
    left: 5rem;
}

.section .section__all .box1 .p p{
    max-width: 29.5rem;
    background: var(--Linear, linear-gradient(90deg, #2a2c31 0%, #191a1e 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: '400';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem; /* 160% */
    position: absolute;
    top: 16rem;
    left: 5rem;
}

.section .section__all .box1 a{
    display: inline-flex;
    padding: 20px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--0-a-4-ecb, #0A4ECB);
    color: var(--color-white, #FFF);
    font-family: '600';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 23rem;
    left: 5rem;
}

.section .section__all .box__one .box2{
    width: 28rem;
    height: 36rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    position: relative;
    margin-left: 30rem;
    background-color: #FFF;
}

.section .section__all .box__one .box2 img{
    width: 22.5rem;
    height: 23.6rem;
    flex-shrink: 0;
    position: absolute;
    top: 12.4rem;
    left: 3.8rem;
}

.section .section__all .box__one .box2 p{
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 33px; /* 132% */
    position: absolute;
    top: 3rem;
    left: 3.8rem;
}

.section .section__all .boxtop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3.3rem;
    margin-top: 5rem;
}

.section .section__all .boxtop  .box3{
    width: 270px;
    height: 310px;
    flex-shrink: 0;
    border-radius: 1.2rem;
    position: relative;
    background-color: #FFF;
}

.section .section__all .boxtop  .box3 img{
    width: 200px;
    height: 207.5px;
    flex-shrink: 0;
    position: absolute;
    top: 4rem;
    left: 3.8rem;
}

.section .section__all .boxtop  .box3 p{
    color: var(--36383-f, #36383F);
    font-family: '500';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    top: 25.5rem;
    left: 3.8rem;
}

.section .section__all .boxtop  .box4{
    width: 270px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 1.2rem;
    position: relative;
    background-color: #FFF;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section .section__all .boxtop  .box4 p{
    color: var(--36383-f, #36383F);
    font-family: '500';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.shop .shop__all{
    margin-top: 10rem;
}

.shop .shop__all .bar{
    display: flex;
    column-gap: 6.6rem;
    text-align: center;
    align-items: center;
}

.shop .shop__all .bar h3{
    color: var(--36383-f, #36383F);
    font-family: '700';
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.shop .shop__all .bar ul{
    display: flex;
    column-gap: 6.6rem;
}

.shop .shop__all .bar ul li a{
    color: var(--0-a-4-ecb, #0A4ECB);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#sliderContainer {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 2rem;
    column-gap: 2rem;
}

.slide {
    /* min-width: 33.33%; İki resim yan yana olacak şekilde ayarlanmıştır */
    box-sizing: border-box;
    padding: 10px;
    background-color: #FFF;
    width: 280px;
    height: 520px;
    flex-shrink: 0;
}



.text {
    color: black;
    text-align: center;
    padding: 10px;
}

.text h4{
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    margin-top: 1rem;
}

.text .birge{
    display: flex;
    margin-top: 4.6rem;
    justify-content: space-between;
}

.text .birge img{
    width: 46px;
    height: 46px;
    flex-shrink: 0;
}

.text .birge p{
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #3498db;
    color: #fff;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.shop .textt{
    margin-top: 10rem;
}

.shop .textt h3{
    color: var(--36383-f, #36383F);
    text-align: center;
    font-family: '700';
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.shop .textt p{
    width: 780px;
    color: var(--36383-f, #36383F);
    text-align: center;
    font-family: '400';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
}

.ikitrf{
    margin-top: 4rem;
}

.ikitrf .ikitrf__all{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.ikitrf .ikitrf__all .soltrf{
    width: 580px;
    height: 389px;
    flex-shrink: 0;
}

.ikitrf .ikitrf__all .soltrf .img{
    width: 580px;
    height: 389px;
    flex-shrink: 0;
}

.ikitrf .ikitrf__all .soltrf .img img{
    width: 100%;
}

.ikitrf .ikitrf__all .topiimg{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.ikitrf .ikitrf__all .topiimg .imk{
    width: 130px;
    height: 87.19px;
    flex-shrink: 0;
}


.ikitrf .ikitrf__all .sagtrf p{
    width: 530px;
    color: var(--6-e-7284, #6E7284);
    font-family: '400';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

.ikitrf .ikitrf__all .sagtrf a{
    color: var(--0-a-4-ecb, #0A4ECB);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    margin-left: -2rem;
    margin-top: 1.6rem;
}

.bom .bom__all{
    width: 1180px;
    height: 496px;
    flex-shrink: 0;
    background-color: var(--color-white);
    border-radius: 1.2rem;
    margin-top: 10.7rem;
    display: flex;
    justify-content: center;
    column-gap: 3rem;

}

.bom .bom__all .bom__left h4{
    color: var(--1-d-1-e-22, #1D1E22);
    font-family: '700';
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 9rem;
}

.bom .bom__all .bom__left p{
    width: 460px;
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    margin-top: 2rem;
}

.bom .bom__all .bom__left a{
    color: var(--4788-ff, #4788FF);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}

.footerone{
    width: 1518px;
    height: 232px;
    flex-shrink: 0;
    background: var(--0-a-4-ecb, #0A4ECB);
    margin-top: 10rem;
}

.footerone .footerone__all{
    display: flex;
    text-align: center;
    align-items: center;
    column-gap: 11rem;
    width: 1185px;
}


.footerone .footerone__all p{
    color: var(--ffffff, #FFF);
    font-family: '400';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10rem;
}

.footerone .footerone__all form{
    margin-left: 9.7rem;
    margin-top: 9.7rem;
}

.footerone .footerone__all form #email{
    width: 350px;
    height: 64px;
    background: #04358F;
    color: var(--dedfe-7, #DEDFE7);
    font-family: '500';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footerone .footerone__all form input{
    width: 200px;
    display: inline-flex;
    padding: 23px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--ffc-62-f, #FFC62F);
}

.footer{
    background: var(--1-d-1-e-22, #1D1E22);
}

.footer .footer__all{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3.3rem;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.footer .footer__all .box h4{
    color: var(--ffffff, #FFF);
    font-family: '400';
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 96% */
    letter-spacing: 1.25px;
}

.footer .footer__all .box ul{
    margin-top: 3rem;
    line-height: 4rem;
}

.footer .footer__all .box ul li a{
    color: var(--a-3-a-6-b-2, #A3A6B2);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

.footer .footer__all .box .div{
    display: flex;
    gap: 0.6rem;
}

.footer .footer__all .box .div img{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.son .son__all{
    padding-top: 3.9rem;
    display: flex;
    justify-content: space-between;
}

.son{
    background: #111112;;
}

.son .son__all .left img{
    max-width: 180px;
    flex-shrink: 0;
    padding-bottom: 2rem ;
}

.son .son__all .right a{
    color: var(--dedfe-7, #DEDFE7);
    text-align: right;
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}





























/* 320 den boyuk oldugda bular olmayacaq */
@media screen and (min-width:376px){
    .hed320{
        display: none;
    }

    .nav320{
        display: none;
    }

    .slider{
        display: none;
    }
    
    .kamera{
        display: none;
    }

    .custom-slider-container{
        display: none;
    }

    .qanter{
        display: none;
    }

    .baxca{
        display: none;
    }

    .yaz{
        display: none;
    }

    .goy{
        display: none;
    }

    .footerrr{
        display: none;
    }

    .sonnn{
        display: none;
    }
}
/* 320 den boyuk oldugda bular olmayacaq */



@media screen and (max-width: 375px){
.header{
    display: none;
}
.nav{
    display: none;
}

.section{
    display: none;
}

.shop{
    display: none;
}

.ikitrf{
    display: none;
}

.bom{
    display: none;
}

.footerone{
    display: none;
}

.footer{
    display: none;
}

.son{
    display: none;
}





.hed320 .hed320all {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hed320 .hed320all .hedlogo{
    width: 220px;
    height: 52.462px;
    flex-shrink: 0;
}

.hed320 .hed320all .hedlogo img{
    width: 220px;
    height: 52.462px;
    flex-shrink: 0;
}

.hed320 .hed320all .hedright{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.hed320 .hed320all .hedright img{
    width: 100%;
}

.nav320{
    background: var(--0-a-4-ecb, #0A4ECB);
    width: 320px;
    height: 36px;
    flex-shrink: 0;
}

.nav320 .nav320all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

.nav320 .nav320all .ox img{
    width: 20px;
}

.nav320 .nav320all .ox p{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: '500';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.2px;
    text-transform: uppercase;
}

.nav320all ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1;
}

.nav320 {
    width: 100%;
    box-sizing: border-box;
}

.container {
    max-width: 320px;
    margin: 0 auto;
}

.nav320all {
    cursor: pointer;
    position: relative;
}

.nav320all ul {
    display: none;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1;
    margin-top: 5px;
}

.nav320all ul li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center; 
}

.slider {
    position: relative;
    width: 100%;
    max-width: 320px;
    overflow: hidden;
    margin-left: 25px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

img {
    width: 100%;
    height: auto;
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.slider-content h3 {
    width: 220px;
    font-family: '700';
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 30px;
    text-align: left;
    background: var(--Linear, linear-gradient(90deg, #0A4ECB 0%, #4788FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -45px;
    
}

.slider-content p {
    width: 150px;
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 13px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: 24px; 
    margin-left: -45px;
}

.slider-content a {
    display: inline-flex;
    padding: 10px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--0-a-4-ecb, #0A4ECB);
    color: var(--ffffff, #FFF);
    font-family: '600';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    margin-top: 55px;
    margin-left: -78px;
}

.nav-btn {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #0A4ECB;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in-out;
}

.nav-btn:hover {
    background: #4788FF;
}

.prev {
    left: 10px;
    margin-top: 240px ;
    margin-left: 85px;
    background: #626262;
}

.next {
    right: 10px;
    margin-top: 240px ;
    margin-right: 85px;
    background: #626262;

}

.blue-line {
    height: 2px; /* Çizgi yüksekliği */
    background-color: blue; /* Çizgi rengi */
    transition: width 0.3s ease; /* Çizgi genişliği değişimini animasyonla ayarlayın */
}

.kamera{
    margin-left: 28px;
}

.kamera .kameraliadam{
    margin-top: 2rem;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--ffffff, #FFF);
}

.kamera .kameraliadam p{
    width: 200px;
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 132% */
    margin-left: 50px;
    padding-top: 40px;
}

.kamera .kameraliadam img{
    width: 181px;
    height: 190px;
    flex-shrink: 0;
    margin-left: 73px;
}

.custom-slider-container {
    position: relative;
    overflow: hidden;
    max-width: 260px;
    height: 310px;
    margin: 0 auto;
}

.custom-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.custom-slide {
    width: 260px;
    height: 310px;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 12px;
    background: var(--ffffff, #FFF);
}

.custom-slide-content {
    width: 260px;
    height: 310px;
    position: relative;
}



.custom-slide-image {
    width: 170px;
    height: 170.752px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-left: 30px;
}

.custom-slide-text {
    width: 200px;
    color: var(--36383-f, #36383F);
    font-family: '500';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
    margin-left: 30px;
}

.custom-prev-btn,
.custom-next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.custom-prev-btn {
    left: 10px;
}

.custom-next-btn {
    right: 10px;
}

.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 2rem;
    column-gap: 2rem;
}

.renamedSlide {
    box-sizing: border-box;
    padding: 10px;
    background-color: #FFF;
    width: 280px;
    height: 520px;
    flex-shrink: 0;
}

.renamedText {
    color: black;
    text-align: center;
    padding: 10px;
}

.renamedText h4 {
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 1rem;
}

.price-info {
    display: flex;
    margin-top: 4.6rem;
    justify-content: space-between;
}

.price-info img {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
}

.price {
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #3498db;
    color: #fff;
}

.renamedPrevBtn {
    left: 10px;
}

.renamedNextBtn {
    right: 10px;
}

.qanter{
    margin-top: 3rem;
}

.qanter .qanterall .yazi h4{
    width: 300px;
    color: var(--36383-f, #36383F);
    font-family: '700';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 38px;
}

.qanter .qanterall .yazi p{
    color: var(--0-a-4-ecb, #0A4ECB);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 38px;
    margin-top: 1rem;
}

.baxca{
    margin-top: 100px;
}

.baxca .baxcaall h4{
    color: var(--36383-f, #36383F);
    font-family: '700';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 38px;
}

.baxca .baxcaall .baxcaaa{
    width: 260px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 12px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-left: 38px;
    margin-top: 2rem;
}

.baxca .baxcaall h5{
    width: 300px;
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    margin-left: 38px;
    margin-top: 20px;
}

.baxca .baxcaall p{
    width: 280px;
    color: var(--6-e-7284, #6E7284);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    margin-left: 3.8rem;
    margin-top: 2rem;
}

.baxca .baxcaall a{
    color: var(--0-a-4-ecb, #0A4ECB);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    margin-left: 3.8rem;
    margin-top: 5rem;
}

.yaz{
    margin-top: 10rem;
    width: 300px;
    height: 584px;
    flex-shrink: 0;
    background-color: var(--ffffff, #FFF);
    border-radius: 1.2rem;
    margin-left: 3.8rem;
    padding-top: 7rem;
}

.yaz .yazall h4{
    width: 240px;
    color: var(--1-d-1-e-22, #1D1E22);
    font-family: '700';
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 3rem;
}

.yaz .yazall p{
    width: 240px;
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    margin-left: 3rem;
    margin-top: 2rem;
}


.yaz .yazalll{
    margin-top: 10rem;
    width: 300px;
    height: 584px;
    flex-shrink: 0;
    background-color: var(--ffffff, #FFF);
    border-radius: 1.2rem;
    padding-top: 7rem;
}

.yaz .yazalll h4{
    width: 240px;
    color: var(--1-d-1-e-22, #1D1E22);
    font-family: '700';
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 3rem;
}

.yaz .yazalll p{
    width: 240px;
    color: var(--36383-f, #36383F);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    margin-left: 3rem;
    margin-top: 2rem;
}

.goy{
    width: 375px;
    height: 430px;
    flex-shrink: 0;
    background: var(--0-a-4-ecb, #0A4ECB);
    margin-top: 750px;
}

.goy .goyall h4{
    width: 300px;
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: '400';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 100px;
    margin-left: 36px;
}

.footerrr{
    background: var(--1-d-1-e-22, #1D1E22);
    text-align: center;
}

.footerrr .footer__all{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3.3rem;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.footerrr .footer__all .box{
    padding-top: 5rem;
}

.footerrr .footer__all .box h4{
    color: var(--ffffff, #FFF);
    font-family: '400';
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 96% */
    letter-spacing: 1.25px;
}

.footerrr .footer__all .box ul{
    margin-top: 3rem;
    line-height: 4rem;
}

.footerrr .footer__all .box ul li a{
    color: var(--a-3-a-6-b-2, #A3A6B2);
    font-family: '400';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

.footerrr .footer__all .box .div{
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    
}

.footerrr .footer__all .box .div img{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.sonnn{
    width: 375px;
    height: 120px;
    flex-shrink: 0;
    background: #111112;
}

.sonnn .son__all .right a{
    color: var(--dedfe-7, #DEDFE7);
    text-align: right;
    font-family: '400';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

}